/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


body{
    margin-left: 400px;
    width: 1120px;
height: 1284px;
font-family: 'Roboto';
font-style: normal;
background-color: #E5E5E5;
}
h1{
font-weight: 700;
font-size: 36px;
line-height: 42px;
color: #1F1E1E;
text-align: center;
}
p{
    padding:20px;
    color: #FFFFFF;
    line-height: 130%;
    font-weight: 500;
}
.country{
    height: 41px;
font-size: 18px;
text-transform: uppercase;
}
.country-big{
    height: 57px;
font-size: 24px;
text-transform: uppercase;
}
.big-details{
    height: 21px;
    padding-top: 31px;
}
.big-details2{
    padding-top: 15px;
}
.price{
    padding-top: 70%;
    font-weight: 700;
font-size: 16px;
}
.big-price{
    padding-top: 63%;
    font-weight: 700;
font-size: 16px;
}
.content{
    padding-top: 40px;
display:grid;
grid-gap: 32px;
grid-template-columns: repeat(4, 256px);
grid-template-rows: repeat(4, 256px);
}
.grid:nth-child(1){
    background: url('img/Rectangle\ 25\ \(1\).png') no-repeat;
}
.grid:nth-child(2){
    background: url('img/Rectangle\ 44.png') no-repeat;
}
.grid:nth-child(3){
    grid-column: span 2;
    grid-row: span 2;
    background: url('img/Rectangle\ 34popular-3.png') no-repeat;
}
.grid:nth-child(4){
    background: url('img/Rectangle\ 63.png') no-repeat;
}
.grid:nth-child(5){
    background: url('img/Rectangle\ 64.png') no-repeat;
}
.grid:nth-child(6){
    background: url('img/Rectangle\ 69.png') no-repeat;
    grid-column: span 2;
    grid-row: span 2;
}
.grid:nth-child(7){
    background: url('img/Rectangle\ 65.png') no-repeat;
}
.grid:nth-child(8){
    background: url('img/Rectangle\ 67.png') no-repeat;
}
.grid:nth-child(9){
    background: url('img/Rectangle\ 66.png') no-repeat;
}
.grid:nth-child(10){
    background: url('img/Rectangle\ 68.png') no-repeat;
}
